*~
*.orig
*.egg-info
*.py[co]
*.tmp
*.swp
*.rej
*.ini
.installed.cfg
.DS_Store
*.bak
.svn
develop-eggs
eggs
log/*
parts
tmp
MANIFEST
secret.txt
*.komodoproject
.pydevproject
nbproject
www/private/*
www/upload/*
www/public/cache/*
www/public/static/cache/*
